

# Ignora todos los archivos con las siguientes extenciones
*.exe
*.bat
*.log


# Ignora la carpeta node_modules
node_modules/
public2/
sgs/
server/config/cert/*
file_server/uploads/*
file_server/logs/*
file_server/opciones/*

# Ignora archivos
public/static/config.json
nodemon.json

# omitir ignoracion xD
!server/config/cert/LEER cert.txt
!file_server/uploads/.gitkeep
!file_server/logs/.gitkeep
!file_server/opciones/.gitkeep